<div class="smPageHeader shadow-inner2 custCol-primary">
    <div class="flexRow align-bottom">
            <div class="thumbnail thumbnail-small pull-left"
                 style="background-image: url(<%- ob.user.server %>get_image?hash=<%- ob.page.profile.avatar_hash %>);"></div>
            <div class="vCentered">
                <h1 class="h3 unbold smPageHeading allCaps">Settings</h1>
            </div>
    </div>
</div>

<div class="bar navBar barFlush navBar custCol-secondary">

    <a class="btn btn-bar btn-tab custCol-secondary js-tab js-generalTab active">General</a>
    <a class="btn btn-bar btn-tab custCol-secondary js-tab js-shippingTab">Shipping</a>
    <a class="btn btn-bar btn-tab custCol-secondary js-tab js-storeTab">Store</a>
    <a class="btn btn-bar btn-tab custCol-secondary js-tab js-blockedTab">Blocked</a>
    <a class="btn btn-bar btn-tab custCol-secondary js-tab js-advancedTab">Advanced</a>

  <div class="navEnd pad15">
        <div class="nav-ctrlGroup js-pageButtons js-userPageControls pull-up50">
            <a class="btn btn-txt custCol-primary textOpacity75 js-cancelSettings">Cancel</a>
        </div>
        <div class="nav-ctrlGroup js-pageButtons js-userPageControls pull-up50">
            <a class="btn btn-txt custCol-primary js-saveSettings">Save changes</a>
        </div>
  </div>

</div>

<div class="flexRow border0 marginBottom50 minHeight650 custCol-primary">
    <div class="flexRow flexExpand">
        <div class="flexCol-12 flex-border js-tabTarg js-general">

                <div class="flexRow custCol-border-secondary">

                    <div class="flexCol-3 borderRight custCol-border-secondary">
                        <div class="fieldItem">
                            <label for="name">Name</label>
                        </div>
                    </div>

                    <div class="flexCol-9 custCol-border-secondary">
                        <input name="name"
                               type="text"
                               id="inputName"
                               placeholder="Your name"
                               class="fieldItem custCol-text"
                               value="">
                    </div>

                </div>

                <div class="flexRow custCol-border-secondary">

                    <div class="flexCol-3  borderRight custCol-border-secondary">
                        <div class="fieldItem">
                            <label for="inputSku">Avatar</label>
                        </div>
                    </div>

                    <div class="flexCol-9 custCol-border-secondary">
                        <input class="fieldItem custCol-text filestuff" type="file" name="img">
                    </div>

                </div>

                <div class="flexRow custCol-border-secondary">

                    <div class="flexCol-3 borderRight custCol-border-secondary">
                        <div class="fieldItem">
                            <label for="inputHandle">Handle</label>
                        </div>
                    </div>

                    <div class="flexCol-9 custCol-border-secondary">
                        <input name="inputHandle"
                               type="text"
                               id="inputHandle"
                               placeholder="@john"
                               class="fieldItem custCol-text"
                               value="">
                    </div>

                </div>

                <div class="flexRow custCol-border-secondary">

                    <div class="flexCol-3  borderRight custCol-border-secondary">
                        <div class="fieldItem">
                            <label for="inputBtcAddress">Bitcoin return address</label>
                        </div>
                    </div>

                    <div class="flexCol-9 custCol-border-secondary">
                        <input name="sku"
                               type="text"
                               id="inputBtcAddress"
                               placeholder="Address"
                               class="fieldItem custCol-text"
                               value="">
                    </div>

                </div>

                <div class="flexRow custCol-border-secondary">

                    <div class="flexCol-3  borderRight custCol-border-secondary">
                        <div class="fieldItem">
                            <label for="inputCountry">Country</label>
                        </div>
                    </div>

                    <div class="flexCol-9 custCol-border-secondary">
                        <div class="fieldItem padding0">
                            <div class="fieldItem-selectWrapper noIcon">
                                <select name="inputCountry" class="custCol-text" id="inputCountry">
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="flexRow custCol-border-secondary">

                    <div class="flexCol-3  borderRight custCol-border-secondary">
                        <div class="fieldItem">
                            <label for="inputCurrency">Local currency</label>
                        </div>
                    </div>

                    <div class="flexCol-9 custCol-border-secondary">
                        <div class="fieldItem padding0">
                            <div class="fieldItem-selectWrapper noIcon">
                                <select name="inputCurrency" class="custCol-text" id="inputCurrency">
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="flexRow custCol-border-secondary">

                    <div class="flexCol-3  borderRight custCol-border-secondary">
                        <div class="fieldItem">
                            <label for="inputTimezone">Time zone</label>
                        </div>
                    </div>

                    <div class="flexCol-9 custCol-border-secondary">
                        <div class="fieldItem padding0">
                            <div class="fieldItem-selectWrapper noIcon">
                                <select name="inputTimezone" class="custCol-text" id="inputTimezone">
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="flexCol-12 flex-border hide js-tabTarg js-shipping">
                SHIPPING
            </div>
            <div class="flexCol-12 flex-border hide js-tabTarg js-store">
                STORE
            </div>
            <div class="flexCol-12 flex-border hide js-tabTarg js-blocked">
                BLOCKED
            </div>
            <div class="flexCol-12 flex-border hide js-tabTarg js-advanced">
                ADVANCED
            </div>
        </div>

</div>
